<li class="user_item_container">
    <img src="<%= user.photo %>" alt="<%= user.name %>" class="user_image">
    <div class="user_item">
            <div class="user_detail">
                <%= link_to user.name , user_path(user) %>
                <p class="user_posts_count">Number of posts: <%= user.PostsCounter %></p>
            </div>
    </div>
</li>