*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* User#index */
.user_list {
  display: flex;
  flex-direction: column;
}

.user_item_container {
  display: flex;
  gap: 20px;
  margin: 10px;
}

.user_item {
  display: flex;
  border: 1px solid #000;
  width: 100%;
  padding: 30px;
}

.user_image {
  width: 100px;
  border: 1px solid #000;
}

.user_detail {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.user_name {
  align-self: flex-start;
  font-size: 32px;
  font-weight: 400;
}

.user_posts_count {
  align-self: flex-end;
}

/* User#show */
.user_page {
  display: grid;
  grid-template-rows: 1fr 1fr auto;
  gap: 10px;
  padding: 15px;
}

.user_page_bio {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  border: 1px solid #000;
}

.user_bio {
  padding: 10px;
  gap: 10px;
}

.user_page_username {
  display: flex;
  gap: 20px;
  margin: 10px;
}

.user_page_image {
  width: 100px;
  border: 1px solid #000;
}

.user_page_detail {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 1px solid #000;
  padding: 30px;
}

.user_page_posts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user_page_post {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid #000;
  padding: 5px;
}

.post_title {
  font-size: 32px;
  font-weight: 300;
}

.post_text {
  font-size: 16px;
}

.post_interractions {
  align-self: flex-end;
  display: flex;
}

.see_all_posts_btn {
  width: fit-content;
  align-self: center;
  justify-self: center;
}

/* post#show
  post#index */
.post_page {
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 10px;
  padding: 15px;
}

.post_page_bio {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  border: 1px solid #000;
}

.post_bio {
  padding: 10px;
  gap: 10px;
}

.post_page_username {
  display: flex;
  gap: 20px;
  margin: 10px;
}

.post_page_image {
  width: 100px;
  border: 1px solid #000;
}

.post_page_detail {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 1px solid #000;
  padding: 30px;
}

.post_page_posts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post_page_post {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid #000;
  padding: 5px;
}

.post_post_title {
  font-size: 32px;
  font-weight: 300;
}

.post_post_text {
  font-size: 16px;
}

.post_post_interractions {
  align-self: flex-end;
  display: flex;
}

.post_page_comments {
  text-decoration: none;
  list-style: none;
  padding: 15px;
}

.post_page_comment {
  text-decoration: none;
  list-style: none;
}

/* post#show */
.show_post {
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
}

.show_post_details {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.show_post_interactions {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.show_post_text {
  font-size: 16px;
}

.show_post_comments {
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
}

.create_comment_container {
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  gap: 10px;
}

.comment-control {
  padding: 5px;
}

/* post#new */

.create_post_container {
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  gap: 10px;
}

.apple_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }