<div class="navbar">
<h1><a href="#home">Yourblog</a></h1>
<a href="#news">Users</a>
<a href="#news">Posts</a>
  
    <a href=""New Post</a>
    <a href="#">My Profile</a>
    <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>

  </div>